
body {
    background-color: #081320;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    color: #ACC8E5;
    margin: 0px;
    padding: 0px;
}
.menu{
    height: 100%;
  width:20%;
  position: fixed;
  z-index: 1;
}
.menu table{
    /* width:20%; */
    margin-top: 25%;
    padding-left: 10px;
}
.menu table a{
    /* width:15%; */
  text-decoration: none;
  color:  yellow;
  display: block;
}
.menu th:hover{
    background-color: #acc8e579;
    border-radius: 10px;
    display: block;
}
.main_c{
    margin-left: 22%;
}
#sections p{
    font-size: 13px;
}
#sections h4{
    color: yellow;
    margin-top: 15px;
}
#sections h5{
    font-weight:bold;
    color:aqua;
    background-color: #081320;
    padding: 10px;
    border-radius: 20px;
    font-size: medium;
}
#sections h6{
    font-weight:bold;
    color:yellow;
    margin-bottom: 0px;
    font-size: 15px;
}

.jumbotron{
    background-image: url(/images/jbg.jpg); 
    color: yellow;
    
}
.jumbotron p{
    margin: 0px;
}
.dp{
   display: inline-block;
    border-radius: 50%;
    float:right;
    padding: 10px;

}

.h6ed{
    color:rgb(7, 234, 241);

}
.table p{
    color: #ACC8E5;
}
#profPos{
    margin-top: 0px;
}
#carObj{
    background-color: #081320a6;
    padding: 15px;
    border-radius: 5px;
    color:#ACC8E5;
    font-style: oblique;
    font-size:15px;
}

#sections table{
    background-color: #112A46;
    border-radius: 10px;
}
#sections table p{
    margin-left: 5px;
}
#kskil th{
    width: 50%;
}
#eds p{
    margin-bottom: 0px;
    
}
.logo img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.logo{
width: 5%;
}

.s_name{
    font-weight:bold;
    color:aqua;
    background-color: #081320;
    padding: 10px;
    border-radius: 20px;
    font-size: medium;
    margin-top: auto;
}

.s_Ad{
    padding-left: 10px;
}
.s_year{
    padding-left: 10px;
}

#tss th{
    width: 33%;
}
#tss p{
    margin-bottom: 0;
}

#rd th{
    width: 50%;
}
#rd p{
    margin-bottom: 5px;
}

.afname{
    padding: 10px;
    background-color: #081320;
    border-radius: 20px;
}

#af h6{
    color:#ACC8E5;
}

#char th{
width: 33%;
}

#char h6{
    padding-left: 10px;
    font-size: small;
    font-weight: lighter;
}
